<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>com.wallpaper.launchctl</string>
  <key>ProgramArguments</key>
  <array>
    <string>python</string>
    <!-- this my py path -->
    <string>/Users/marquis/interesting/wallpaper/py/wallpaper/wallpaper-mac.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>LaunchOnlyOnce</key>
  <true/>
  <key>UserName</key>
  <string>marquis</string>
  <key>WorkingDirectory</key>
  <string>/Users/marquis/interesting/wallpaper/py/wallpaper</string>
  <key>StandardErrorPath</key>
  <!-- this my log path -->
  <string>/Users/marquis/interesting/wallpaper/py/wallpaper/err.log</string>
</dict>
</plist>